$main-color:#212529;
$additional-color:#f5df4e;
$text-light:#dee3e4;
$text-grey:#6c757d;
$white-color:white;

$content-width: 1060px;
$laptop: 1200px;
$tablet: 768px;
$tablet-xs: 640px;
$mobile: 375px;
$mobile-xs: 320px;