.skills__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    @include media-tablet {
        margin-bottom: 10px;
    }

}

.skills__title {
    background-color: $additional-color;
    margin-bottom: 20px;
    margin-top: 60px;
    padding: 0 5px;

    @include media-tablet {
        @include font(1.4rem, 120%, 400);
        margin-top: 30px;
    }

}

.skills__title-big {
    margin-bottom: 40px;

    @include media-tablet {
        @include font(2.4rem, 120%, 400);
        margin-bottom: 20px;
    }
}


.skills__cards {
    width: 100%;
    height: 500px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 50px;
    background: url("../img/icons/cat_tracks.svg") right 100px bottom no-repeat;

    @include media-laptop {
        height: 45vw;
    }

    @include media-tablet {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        gap: 10px;
        height: 610px;
        padding: 0 20px;
    }

    @include media-tablet {
        margin-bottom: 20px;
    }
}

.skills_container:hover .skills__card {
    cursor: pointer;
    transform: rotateY(180deg);
}


.skills__card {
    height: 100%;
    max-width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;

}

.skills__card-front,
.skills__card-back {
    width: 100%;
    height: 100%;
    //border:2px solid  $additional-color;
    //border-radius: 10px/20px;
    //box-shadow: 0 0 5px 2px rgba($color: #b8a60b, $alpha: 0.8);
    position: absolute;
    backface-visibility: hidden;
}



.skills__card_title {
    color: $white-color;
    margin: 110px 0 0 40px;

    @include media-laptop {
        @include font(3.0rem, 120%, 500);
        margin: 80px 0 0 40px;
    }
}

.skills__card-back {
    transform: rotateY(180deg);

    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba($color: #939597, $alpha: 0.3);
    background-color: white;
}

.hard-skill {
    background: url("../img/background/lamp.jpg") top;

    @include media-tablet {
        background: url("../img/background/lamp.jpg");
        background-position: center 0px;
        background-size: cover;
    }
}

.soft-skill {
    background: url("../img//background/yellow_constr.jpg") top;

    @include media-tablet {
        background: url("../img//background/yellow_constr.jpg");
        background-position: center 0px;
        background-size: cover;
    }

    & .skills__card_title {
        color: $main-color;
    }
}

.skills-list {
    margin-right: 0;
    border-left: 3px solid $additional-color;
    border-bottom: 3px solid $additional-color;
    box-shadow: -1px 1px 2px 0px rgba($color: #f5df4e, $alpha: 0.8);


    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media-laptop {
        @include font(1.6rem, 120%, 500);
    }
}

.skills-list__item {
    padding-top: 20px;
    font-size: 2.1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $additional-color;

    @include media-tablet {
        @include font(1.6rem, 120%, 500);
        padding-top: 10px;
    }
}

.skills__download-button {
    padding: 15px 40px;
    border: 2px solid $main-color;
    border-radius: 10px;
    border-bottom: 3px solid;

    @include media-tablet {
        padding: 8px 20px;
    }

    & a {
        display: block;
        text-decoration: none;
        color: $main-color;
        width: 100%;
    }
}